.fill-remaining-space {
    flex: 1 1 auto;
}
html {
    background-image: url("https://static1.squarespace.com/static/59ec161180bd5ee92ad36c5a/t/5a029db8ec212d79d86e9dd3/1510120894683/Home_page_Image_J_Seng.jpg?format=1500w");
}

.title-container {
    padding: 10px;
    color: aliceblue;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
}