<div class="list-container">
  <h4 *ngIf="userMovies.length == 0">Select movies from below to add to your collection</h4>
  <button mat-button (click)="toggleMode()">
      <span *ngIf="mode == 'regularMode'">
        <i class="fa fa-trash-o"></i>trash
      </span>
      <span *ngIf="mode == 'deleteMode'">
        <i class="fa fa-check" aria-hidden="true"></i>V
      </span>
    </button>
  <app-movie [movies]="userMovies" [mode]="mode" (movieDeleted)="handleDeletedMovie($event)"></app-movie>
</div>