.list-container h4 {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    //border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(50, end),
        pulse 5s infinite;
        //blink-caret .5s step-end;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

      @keyframes pulse {
          0% {
              color: whitesmoke;
          }
          100% {
              color: #FF4136;
          }

      }
      
      /* The typewriter cursor effect */
      /*@keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: orange }
      }*/
.toggle-button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20px;
    height: 30px;
}
img {
    width: 20px;
}