

 
        
        .cards-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-bottom: 15px;
            margin-top: 15px;
            
            .movie-card {
                margin-top: 15px;
                max-width: 350px;
                background-color: azure;
                color: black;
                img {
                    width: 100%;
                    max-height: 150px;
                }
            }
        }
        
        .button-row {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        


